body{
  text-align: center;
  background-color: #FCFBE3;
}



h1.main{
  color: #ff87c3;
}



li.best{
  color: purple;
  font-family: cursive;

}



li.flashy{
  color: red;
  font-style: italic;
}

@media screen and (min-width: 300px) and (max-width: 480px){
  img {
    width: 240px;
    height: 240px;
  }
}

@media screen and (min-width: 480px) and (max-width: 1000px){
  body {
    color: blue;
    font-style: oblique;
  }
}
